body{background:#f5f5f0;}

table{
  
  float:left;
  border: 1px solid black;
 min-width:450px;
margin: 5px;
}
.upper{
    
    max-width: 920px;
    
}
.lower{
    
    max-width: 920px
    
}
td {
    
    padding: 10px;
  max-width:2000px;
width:auto;
min-width:10px;
font-size:12px;
    
    
}
th{
    width:auto;
}

tr:nth-child(even) {background: #CCC}

tr:nth-last-child(1){
    background: #f5f5f0;
    font-weight:bold;
}
tr:first-child{
   font-weight:900;
}


