
body{background:#f5f5f0;
    min-width:492px;
    
}

.one{
  
    float:left;
    border: 1px solid black;
    min-width:460px;
    margin: 5px;
}
.two{
  
    float:left;
    border: 1px solid black;
    min-width:460px;
    margin: 5px;
}
.three{
  
    float:left;
    border: 1px solid black;
    min-width:460px;
    margin: 5px;
}
.four{
  
    float:left;
    border: 1px solid black;
    min-width:460px;
    margin: 5px;
}
.upper{
    clear:both;
    max-width: 920px;
   
    
}
.lower{
    
    max-width: 920px;
   
    
}
td {
    
    padding: 10px;
    max-width:2000px;
    width:auto;
    min-width:10px;
    font-size:12px;
    
    
}

.teams li:nth-child(even) {background: #4842A7}

th{
    width:auto;
}

.cells tr:nth-child(even) {background: #FFE053}

.cells tr:nth-last-child(1){
    background: #f5f5f0;
    font-weight:bold;
}
.cells tr:first-child{
    font-weight:900;
    background: #2E297A;
    color:#FFF;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3E399B;
}


li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    
}

li a:hover {
    background-color: #2E297A;
}
.button-one{
    width:190px;
    
}
.button-two{
   width:190px;
    
}
.button-three{
    width:190px;
    
}
.button-four{
    width:190px;
    
}
